<%= for post <- @posts do %>
<h1 class="blog-title"><%= link post.title, to: post_path(@conn, :show, post) %></h1>
<p class="blog-date"><%= DateFormatter.format_date(post.inserted_at) %></p>
<% end %>
<nav>
<ul class="pager">
<%= if @previous do %>
  <li>
    <%= link "Previous", to: post_path(@conn, :index, @previous) %>
  </li>
<% end %>
<%= if @next do %>
  <li>
    <%= link "Next", to: post_path(@conn, :index, @next) %>
  </li>
<% end %>
</ul>
